[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cdom"]
	path = cdom
	url = https://github.com/pmassicotte/cdom
[submodule "eemR"]
	path = eemR
	url = https://github.com/pmassicotte/eemr
[submodule "gtrendsR"]
	path = gtrendsR
	url = https://github.com/pmassicotte/gtrendsr
